{% extends "layouts/_master.html" %}

{% block header %}
    
{% endblock %}

{% block content %}
	 <ul>
		{% for item in feeds %}
		  	<li>{{ item.message }}</li>
		{% endfor %}
	</ul>
{% endblock %}

