{% extends "layouts/_master.html" %}

{% block header %}
    <h1>{{ name }}</h1>
{% endblock %}

{% block content %}
    <ul>
		{% for feed in feeds %}
		  <li>{{ feed.message }}</li>
		{% else %}
		  <li>This would display if the 'item' collection were empty</li>
		{% endfor %}
	</ul>
{% endblock %}

